body {
  font-family: Roboto;
  margin: 0;
}

.header,
.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  font-weight: lighter;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 300px 100px 300px;
  row-gap: 100px;
  justify-content: center;
  margin-bottom: 50px;
}

.header-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 1 100%;
  align-items: center;
  row-gap: 10px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

.desc {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}

.desc-head {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.desc-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 600px;
  gap: 10px;
}

.head-img {
  max-width: 400px;
}

button {
  background-color: #3882F6;
  border-radius: 8px;
  color: #F9FAF8;
  padding: 5px 25px;
  border-style: hidden;
  cursor:pointer;
}

button:hover {
  background-color: #d5e484;
  color: #1F2937;
  transition: 0.7s;
}

.signup-bottom {
  border-style: solid;
  border-color: #E5E7EB;
}

.info-head {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.main {
  text-align: center;
}

.info-img {
  max-width: 250px;
  border-color: #3882F6;
  border-style: inset;
  border-radius: 10px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}

.quote-main {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  text-align: left;
}

.quote-name {
  text-align: right;
  font-weight: 800;
  margin-left: 80%;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 300px;
}

.signup {
  background-color: #3882F6;
  color: #F9FAF8;
  max-width: 700px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
  column-gap: 150px;
  row-gap: 15px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.signup-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.signup-head {
  font-size: 22px;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}